<script src="https://cdn.tailwindcss.com"></script>
<section>
    <div class="grid justify-items-center grid-cols-1 gap-4">

        <a href="https://twitter.com/jackklika" class="fa fa-twitter" class="bizlink"> Twitter</a>
        <a href="https://github.com/jackklika" class="fa fa-github" class="bizlink"> Github</a>
        <a href="https://linkedin.com/jackklika" class="fa fa-linkedin scale-150"> Linkedin</a>
        <a href="https://instagram.com/jackklika" class="fa fa-instagram scale-150"> Instagram</a>
    </div>
</section>
</div>
